@model IEnumerable<Shop.Models.Spaceship.SpaceshipIndexViewModel>

<div class="h1">
    Products
</div>

<div>
    <a asp-action="add" asp-controller="spaceships" type="submit" class="btn btn-outline-primary"> Add</a>
</div>

<form method="post">
    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col">Nr</th>
                <th scope="col">Name</th>
                <th scope="col">Type</th>
                <th scope="col">Country</th>
                <th scope="col">Company</th>
            </tr>
        </thead>
        <tbody>
            @foreach(var spaceships in Model)
            {
                <tr>
                   <td>@spaceships.Name</td>
                   <td>@spaceships.Type</td>
                   <td>@spaceships.Passengers</td>
                   <td>@spaceships.EnginePower</td> 
                        <a asp-action="edit" asp-controller="spaceships" asp-route-id="" class="btn btn-primary">Edit</a>
                        <input asp-action="delete" asp-controller="spaceships" asp-route-id="" type="submit" class="btn btn-danger" value="Delete">
                   
                </tr>
            }
        </tbody>
    </table>
</form>